<section id="about" class="section section-about">
  <div class="animate-up">
    <div id="particles-js">
      <h1 class="h1-hi" translate>about.hello</h1>
      <h2 class="h2-name" translate>about.myname</h2>
      <h3 class="h3-desc" translate>about.iam<span class="typed"></span></h3>
      <div class="intro-desc">
        <p translate>about.description</p>
      </div>
    </div>
    <div class="section-txt-btn">
      <p><a class="btn btn-lg btn-border btn-cstm ripple" target="_blank"
            href="assets/doc/{{ 'about.cvlink' | translate }}"
            translate>about.downloadcv</a></p>
    </div>
  </div>
</section>
<section class="about-txt-sec">
  <div>
    <div class="flexbt">
      <div class="fleximg">
        <img src="assets/img/salim.png">
      </div>
      <div class="flextxt">
        <h2 class="section-title abt-title sect-title" translate><span class="title-number">01. </span>about.title</h2>
        <p class="paragraphs abt-p" translate>about.paragraph1</p>
        <p class="paragraphs abt-p" translate>about.paragraph2</p>
        <p class="paragraphs abt-p" translate>about.paragraph3</p>
        <p class="paragraphs abt-p" translate>about.paragraph4</p>
        <p class="paragraphs abt-p" translate>about.paragraph5</p>
      </div>
    </div>
  </div>
</section>
