<footer class="footer">
  <div class="footer-social">
    <ul class="social2">
      <li><a class="ripple-centered" href="https://www.linkedin.com/in/salimify" rel="nofollow noopener noreferrer"
             target="_blank"><i class="rsicon rsicon-linkedin"></i></a></li>
      <li><a class="ripple-centered" href="https://github.com/Salimify" rel="nofollow noopener noreferrer"
             target="_blank"><i class="rsicon rsicon-github"></i></a></li>
      <li><a class="ripple-centered" href="https://www.facebook.com/salimify" rel="nofollow noopener noreferrer"
             target="_blank"><i class="rsicon rsicon-facebook"></i></a></li>
      <li><a class="ripple-centered" href="https://www.twitter.com/salimify" rel="nofollow noopener noreferrer"
             target="_blank"><i class="rsicon rsicon-twitter"></i></a></li>
      <li><a class="ripple-centered" href="https://instagram.com/salimify" rel="nofollow noopener noreferrer"
             target="_blank"><i class="rsicon rsicon-instagram"></i></a></li>
    </ul>
    <p class="footername" translate>footer.desc1<a href="/about" translate>footer.desc2</a>footer.desc3</p>
  </div>

</footer>
