.Slogo{
  width: 45px;
  margin-left: 20px;
  margin-top: 5px;
}
.log-cont{
  display: flex;
}
.flag-icon{
  height: 0.7em;
}
.lang-cont{
  font-size: 16px;
  color: #76f5da;
  margin-right: 6px;
  cursor: pointer;
}
.lang-div{
  margin-top: 15px;
  margin-left: 20px;
}
