<header class="header">
  <div class="head-bg" id="particles-js"></div>
  <div class="head-bar">
    <div class="head-bar-inner">
      <div class="row">
        <div class="col-sm-3 col-xs-6 log-cont">
          <div>
            <a class="head-logo" href=""><img src="assets/img/logo.png" class="Slogo" alt="S logo"/></a>
          </div>
          <div class="lang-div">
            <span class="lang-cont" routerLink="/en"><span class="flag-icon flag-icon-us"></span>EN</span>
            <span class="lang-cont" routerLink="/fr"><span class="flag-icon flag-icon-fr"></span>FR</span>
          </div>
        </div>
        <div class="col-sm-9 col-xs-6 nav-cont ">
          <div class="nav-wrap">
            <nav id="nav" class="nav">
              <ul class="clearfix">
                <li class="navitm"><a href="#about" translate>header.about</a></li>
                <li class="navitm"><a href="#skills" translate>header.skills</a></li>
                <li class="navitm"><a href="#experience" translate>header.experience</a></li>
                <li class="navitm"><a href="#Projets" translate>header.projects</a></li>
                <li class="navitm"><a href="#education" translate>header.education</a></li>
                <li class="navitm"><a href="#interests" translate>header.activities</a></li>
                <li class="navitm"><a href="/blog" translate>header.blog</a></li>
                <!--<li class="navitm"><a href="#contact" translate>header.contact<span></span></a></li>-->
              </ul>
            </nav>
            <button class="btn-mobile btn-mobile-nav mobile-menu-btn"><i class="rsicon rsicon-menu"></i></button>
          </div><!-- .nav-wrap -->
        </div>

      </div>
    </div>
  </div>
</header>
