<div class="mobile-nav">
  <button class="btn-mobile mobile-nav-close"><i class="rsicon rsicon-close"></i></button>

  <div class="mobile-nav-inner">
      <nav id="mobile-nav" class="nav">
  <ul class="clearfix">
    <li ><a href="#about" translate>header.about</a></li>
    <li ><a href="#skills" translate>header.skills</a></li>
    <li ><a href="#experience" translate>header.experience</a></li>
    <li ><a href="#Projets" translate>header.projects</a></li>
    <li ><a href="#education" translate>header.education</a></li>
    <li><a href="#interests" translate>header.activities</a></li>
    <li><a href="/blog" translate>header.blog</a></li>
    <!--<li ><a href="#contact" translate>header.contact<span></span></a></li>-->
  </ul>
</nav>
  </div>
</div>
