<app-mobilenav></app-mobilenav>
<div class="wrapper">
  <div class="social-line-cont hide-cont">
    <div>
      <ul class="social-line">
        <li><a href="https://www.linkedin.com/in/salimify" target="_blank"
               rel="nofollow noopener noreferrer" aria-label="Linkedin">
          <i class="rsicon rsicon-linkedin"></i>
        </a></li>
        <li><a href="https://github.com/Salimify" target="_blank"
               rel="nofollow noopener noreferrer" aria-label="Github">
          <i class="rsicon rsicon-github"></i>
        </a>
        </li>
        <li><a href="https://www.facebook.com/salimify" target="_blank"
               rel="nofollow noopener noreferrer" aria-label="facebook">
          <i class="rsicon rsicon-facebook"></i>
        </a>
        </li>
        <li><a href="https://www.twitter.com/salimify" target="_blank"
               rel="nofollow noopener noreferrer" aria-label="Twitter">
          <i class="rsicon rsicon-twitter"></i>
        </a></li>
        <li><a href="https://instagram.com/salimify" target="_blank"
               rel="nofollow noopener noreferrer" aria-label="Instagram">
          <i class="rsicon rsicon-instagram"></i>
        </a></li>
      </ul>
    </div>
  </div>
  <div class="social-line-right hide-cont">
    <div class="social-line">
      <a class="social-email" href="mailto:salim.bnhassine@gmail.com">salim.bnhassine@gmail.com</a>
    </div>
  </div>
  <app-header></app-header>
  <div class="content">
    <div class="container">
      <app-about></app-about>
      <app-skills></app-skills>
      <!--<app-portfolio></app-portfolio>-->
      <app-experience></app-experience>
      <app-education></app-education>
      <app-activite></app-activite>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<a class="btn-scroll-top" href="#"><i class="rsicon rsicon-arrow-up"></i></a>
<div id="overlay"></div>
<div id="preloader">
  <div class="preload-icon"><span></span><span></span></div>
  <div class="preload-text">Loading ...</div>
</div>
