<section id="education" class="section section-education">
  <div class="animate-up">
    <h2 class="section-title abt-title sect-title" translate><span class="title-number">05. </span>education.title</h2>
    <div class="timeline">
      <div class="timeline-bar"></div>
      <div class="timeline-inner clearfix">

        <div class="timeline-box timeline-box-compact timeline-box-left">
          <span class="dot"></span>

          <div class="timeline-box-inner animate-left">
            <span class="arrow"></span>
            <div class="date"><span translate>education.date2</span></div>
            <h3 class="cycle-name" translate>education.name2</h3>
            <div class="flex-box">
              <img src="assets/img/esprit.png" alt="issatso logo" class="esprit-logo">
              <h4 class="univ-name" translate>education.school2</h4>
            </div>
            <p class="desc" translate>education.desc2</p>
          </div>
        </div>

        <div class="timeline-box timeline-box-compact timeline-box-right">
          <span class="dot"></span>

          <div class="timeline-box-inner animate-right">
            <span class="arrow"></span>
            <div class="date"><span translate>education.date3</span></div>
            <h3 class="cycle-name" translate>education.name3</h3>
            <div class="flex-box">
              <img src="assets/img/issatso.png" alt="issatso logo">
              <h4 class="univ-name" translate>education.school3</h4>
            </div>
            <p class="desc" translate>education.desc3</p>
          </div>
        </div>

        <div class="timeline-box timeline-box-compact timeline-box-left">
          <span class="dot"></span>

          <div class="timeline-box-inner animate-left">
            <span class="arrow"></span>
            <div class="date"><span translate>education.date4</span></div>
            <h3 translate>education.name4</h3>
            <h4 translate>education.school4</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
