<section id="interests" class="section section-interests">
  <div class="animate-up">
    <h2 class="section-title abt-title sect-title" translate><span class="title-number">06. </span>activite.title</h2>

    <div class="section-box">
      <p class="text-activite" translate>
        <b class="tint" translate>activite.1</b><span translate>activite.1.1</span><br>
        <b class="tint" translate>activite.2</b><span translate>activite.2.1</span><br>
        <b class="tint" translate>activite.3</b><span translate>activite.3.1</span><br>
        <b class="tint" translate>activite.4</b><span translate>activite.4.1</span><br>
        <b class="tint" translate>activite.5</b><span translate>activite.5.1</span><br>
        <b class="tint" translate>activite.6</b><span translate>activite.6.1</span><br>
        <b class="tint" translate>activite.7</b><span translate>activite.7.1</span><br>
        <b class="tint" translate>activite.8</b><span translate>activite.8.1</span><br>
        <b class="tint" translate>activite.9</b><span translate>activite.9.1</span>
      </p>

      <ul class="interests-list">
        <li>
          <i class="map-icon map-icon-bicycling"></i>
          <span translate>activite.10</span>
        </li>
        <li>
          <i class="map-icon map-icon-fishing"></i>
          <span translate>activite.11</span>
        </li>
        <li>
          <i class="map-icon map-icon-book-store"></i>
          <span translate>activite.12</span>
        </li>
        <li>
          <i class="map-icon map-icon-assistive-listening-system"></i>
          <span translate>activite.13</span>
        </li>
        <li>
          <i class="map-icon map-icon-movie-theater"></i>
          <span translate>activite.14</span>
        </li>
      </ul>
    </div>
  </div>
</section>

