<section id="skills" class="section section-skills">
  <div class="animate-up">
    <h2 class="section-title abt-title sect-title" translate><span class="title-number">02. </span>skills.title</h2>
    <div class="section-box">
      <div class="row">
        <h3><b translate>skill.proglang</b></h3>
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/java.png" alt="{{ 'skill.java.alt' | translate }}"
                                           class="skillicon"><b translate>skill.java</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="87%"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/javascript.png"
                                           alt="{{ 'skill.javascript.alt' | translate }}"
                                           class="skillicon"><b translate>skill.javascript</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="87%"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/python.png" alt="{{ 'skill.python.alt' | translate }}"
                                           class="skillicon"><b translate>skill.python</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="64%"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/php.png" alt="{{ 'skill.php.alt' | translate }}"
                                           class="skillicon"><b translate>skill.php</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="75%"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/c.png" alt="{{ 'skill.c.alt' | translate }}"
                                           class="skillicon"><b translate>skill.c</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="65%"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/cpppng.png" alt="{{ 'skill.cpp.alt' | translate }}"
                                           class="skillicon"><b translate>skill.cpp</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="64%"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/csharp.png" alt="{{ 'skill.sharp.alt' | translate }}"
                                           class="skillicon"><b translate>skill.sharp</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="75%"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/html.png" alt="{{ 'skill.htmlcss.alt' | translate }}"
                                           class="skillicon"><b translate>skill.htmlcss</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="75%"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-box section-box-margin">
      <div class="row">
        <h3 translate><b translate>skill.frameworks</b></h3>
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/angular.png" alt="{{ 'skill.angular.alt' | translate }}"
                                           class="skillicon"><b translate>skill.angular</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="90%"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/react.png" alt="{{ 'skill.reactjs.alt' | translate }}"
                                           class="skillicon"><b translate>skill.reactjs</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="81%"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/vuejs.png" alt="{{ 'skill.vuejs.alt' | translate }}"
                                           class="skillicon"><b translate>skill.vuejs</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="75%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/electron.png"
                                           alt="{{ 'skill.electron.alt' | translate }}"
                                           class="skillicon"><b translate>skill.electron</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="70%"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/spring.png" alt="{{ 'skill.spring.alt' | translate }}"
                                           class="skillicon"><b translate>skill.spring</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="85%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/dotnet.png" alt="{{ 'skill.asp.alt' | translate }}"
                                           class="skillicon"><b translate>skill.asp</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="65%"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/symfony.png" alt="{{ 'skill.symfony.alt' | translate }}"
                                           class="skillicon"><b translate>skill.symfony</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="65%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/laravel.png" alt="{{ 'skill.laravel.alt' | translate }}"
                                           class="skillicon"><b translate>skill.laravel</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="77%"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/node.png"
                                           alt="{{ 'skill.nodejs.alt' | translate }}"
                                           class="skillicon"><b translate>skill.nodejs</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="80%"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/django.png" alt="{{ 'skill.django.alt' | translate }}"
                                           class="skillicon"><b translate>skill.django</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="70%"></span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="section-box section-box-margin">
      <div class="row">
        <h3 translate><b translate>skill.basededonne</b></h3>
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/sql.png" alt="{{ 'skill.sql.alt' | translate }}"
                                           class="skillicon"><b translate>skill.sql</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="90%"></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/Mongo.png" alt="{{ 'skill.mongo.alt' | translate }}"
                                           class="skillicon"><b translate>skill.mongo</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="81%"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <h3 translate><b translate>skill.mobile</b></h3>
        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/Android.png" alt="{{ 'skill.android.alt' | translate }}"
                                           class="skillicon"><b translate>skill.android</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="75%"></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="progress-bar">
            <div class="bar-data">
              <span class="bar-title"><img src="assets/img/logo/ionic.png"
                                           alt="{{ 'skill.ionic.alt' | translate }}"
                                           class="skillicon"><b translate>skill.ionic</b></span>
            </div>
            <div class="bar-line">
              <span class="bar-fill" data-width="70%"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-box section-box-margin">
      <div class="row">
        <h3 translate><b translate>skill.autres</b></h3>
        <div class="col-sm-12" translate>
          <b translate>skill.autretech</b> skill.autretech.names
          <br>
          <b translate>skill.methodologies</b>skill.methodologies.names
          <br>
          <b translate>skill.testing</b> skill.testing.names
          <br>
          <b translate>skill.outils</b> skill.outils.names
        </div>
      </div>
    </div>
  </div>
</section>
