<section id="experience" class="section section-experience">
  <div class="animate-up">
    <h2 class="section-title abt-title sect-title" translate><span class="title-number">03. </span>experience.title</h2>
    <div class="timeline">
      <div class="timeline-bar"></div>
      <div class="timeline-inner clearfix">
        <div class="timeline-box timeline-box-left">
          <span class="dot"></span>
          <div class="timeline-box-inner animate-right">
            <span class="arrow"></span>
            <div class="date" translate>experience.date1</div>
            <div>
              <img src="assets/img/logo/veamly-logo.svg" class="veam-logo">
            </div>
            <h4 translate>experience.position1</h4>
            <p translate>experience.description1</p>
            <h4><b translate>experience.mission</b></h4>
            <p translate>
              <span translate>experience.mission1</span><b class="bold-important" translate>experience.spring</b><span translate>experience.mission2</span><b class="bold-important" translate>experience.micronaut</b><br>
              <span translate>experience.mission3</span><b class="bold-important" translate>experience.react</b><span translate>experience.mission4</span><b class="bold-important" translate>experience.angular</b><br>
              <span translate>experience.mission5</span><b class="bold-important" translate>experience.electron</b><br>
              <span translate>experience.mission6</span><b class="bold-important" translate>experience.apis</b><span translate>experience.mission7</span><br>
              <span translate>experience.mission8</span><b class="bold-important" translate>experience.git</b>, <b class="bold-important" translate>experience.jenkins</b>, <b class="bold-important" translate>experience.docker</b> & <b class="bold-important" translate>experience.gcloud</b><br>
              <span translate>experience.mission9</span><br>
              <span translate>experience.mission10</span><br>
            </p>
            <div class="d-flex">
              <span class="tag" translate>experience.microservices</span>
              <span class="tag" translate>experience.spring</span>
              <span class="tag" translate>experience.micronaut</span>
              <span class="tag" translate>experience.angular</span>
              <span class="tag" translate>experience.react</span>
              <span class="tag" translate>experience.electron</span>
              <span class="tag" translate>experience.restapis</span>
              <span class="tag" translate>experience.git</span>
              <span class="tag" translate>experience.jenkins</span>
              <span class="tag" translate>experience.docker</span>
              <span class="tag" translate>experience.gcloud</span>
            </div>
          </div>
        </div>

        <div class="timeline-box timeline-box-right">
          <span class="dot"></span>
          <div class="timeline-box-inner animate-left">
            <span class="arrow"></span>
            <div class="date" translate>experience.date2</div>
            <img src="assets/img/logo/Pharmalogo.png" class="veam-logo">
            <h4 translate>experience.position2</h4>
            <p translate>experience.description2</p>
            <h4><b translate>experience.mission</b></h4>
            <p translate>
              <span translate>experience.mission11</span><b class="bold-important" translate>experience.node</b><br>
                <span translate>experience.mission12</span><br>
                <span translate>experience.mission13</span><b class="bold-important" translate>experience.vue</b><br>
                <span translate>experience.mission14</span><br>
            </p>
            <div class="d-flex">
              <span class="tag" translate>experience.vue</span>
              <span class="tag" translate>experience.node</span>
              <span class="tag" translate>experience.express</span>
              <span class="tag" translate>experience.mongo</span>
              <span class="tag" translate>experience.htmlcss</span>
              <span class="tag" translate>experience.javascript</span>
            </div>
          </div>
        </div>

        <div class="timeline-box timeline-box-left">
          <span class="dot"></span>
          <div class="timeline-box-inner animate-right">
            <span class="arrow"></span>
            <div class="date" translate>experience.date3</div>
            <div>
              <img src="assets/img/logo-tt.svg" class="tt-logo">
            </div>
            <h4 translate>experience.position3</h4>
            <p translate>experience.description3</p>
            <div class="d-flex">
              <span class="tag" translate>experience.javase</span>
              <span class="tag" translate>experience.javafx</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ********* Second Section ************ -->

<section id="Projets" class="section section-experience">
  <div class="animate-up">
    <h2 class="section-title abt-title sect-title" translate><span class="title-number">04. </span>projects.title</h2>

    <div class="timeline">
      <div class="timeline-bar"></div>
      <div class="timeline-inner clearfix">

        <div class="timeline-box timeline-box-left">
          <span class="dot"></span>
          <div class="timeline-box-inner animate-right">
            <span class="arrow"></span>
            <div class="date" translate>projects.date1</div>
            <h3 translate>projects.name1</h3>
            <h4 translate>projects.label</h4>
            <p translate>projects.desc</p>
            <div class="d-flex">
              <span class="tag" translate>experience.python</span>
              <span class="tag" translate>experience.django</span>
              <span class="tag" translate>experience.htmlcss</span>
              <span class="tag" translate>experience.javascript</span>
              <span class="tag" translate>experience.webscraping</span>
              <span class="tag" translate>experience.ml</span>
            </div>
          </div>
        </div>

        <div class="timeline-box timeline-box-right">
          <span class="dot"></span>
          <div class="timeline-box-inner animate-left">
            <span class="arrow"></span>
            <div class="date" translate>projects.date2</div>
            <h3 translate>projects.name2</h3>
            <h4 translate>projects.label2</h4>
            <img src="assets/img/camp-full.jpg" class="veam-logo">
            <p translate>projects.desc2</p>
            <div class="d-flex">
              <span class="tag" translate>experience.javaee</span>
              <span class="tag" translate>experience.asp</span>
              <span class="tag" translate>experience.angular</span>
              <span class="tag" translate>experience.webservices</span>
              <span class="tag" translate>experience.ionic</span>
              <span class="tag" translate>experience.wildfly</span>
              <span class="tag" translate>experience.hibernate</span>
            </div>
          </div>
        </div>

        <div class="timeline-box timeline-box-left">
          <span class="dot"></span>
          <div class="timeline-box-inner animate-right">
            <div class="date" translate>projects.date3</div>
            <h3 translate>projects.name3</h3>
            <h4 translate>projects.label3</h4>
            <img src="assets/img/mshop.jpg" class="veam-logo">
            <p translate>projects.desc3</p>
            <div class="d-flex">
              <span class="tag" translate>experience.android</span>
              <span class="tag" translate>experience.java</span>
              <span class="tag" translate>experience.firebase</span>
            </div>
          </div>
        </div>


        <div class="timeline-box timeline-box-right">
          <span class="dot"></span>
          <div class="timeline-box-inner animate-left">
            <span class="arrow"></span>
            <span class="arrow"></span>
            <div class="date" translate>projects.date4</div>
            <h3 translate>projects.name4</h3>
            <h4 translate>projects.label4</h4>
            <img src="assets/img/socialpro.jpg" class="veam-logo">
            <p translate>projects.desc4</p>
            <div class="d-flex">
              <span class="tag" translate>experience.symfony</span>
              <span class="tag" translate>experience.javase</span>
              <span class="tag" translate>experience.codename</span>
              <span class="tag" translate>experience.doctrine</span>
              <span class="tag" translate>experience.sql</span>
              <span class="tag" translate>experience.htmlcss</span>
              <span class="tag" translate>experience.javascript</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

